{% extends 'base.html' %}

{% block content %}
  <main>
    <article>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">
          {% block button_text %}BUTTON_TEXT{% endblock %}
        </button>

        <button type="submit" name="{{ view.alternate_submit_button_name }}">
          Add Reference
        </button>
      </form>

      <aside>
        {% for reference in cms_block.references.all %}
          <ul>
            {% include 'cms/partials/reference_preview.html' with reference=reference %}
          </ul>
        {% empty %}
          No references have been created yet.
        {% endfor %}
      </aside>
    </article>
  </main>
{% endblock %}
