{% extends 'base.html' %}

{% load staticfiles %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static '/styles/codehilite.css' %}" type="text/css" />
{% endblock %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block content %}
  {% if alter_URL %}
    <script>
      history.replaceState(
        null,
        '{{ page.title }}',
        '{{ page.get_absolute_url }}')
    </script>
  {% endif %}

  <header>
    <nav class='breadcrumbs'>
      {% include 'cms/partials/breadcrumbs.html' with breadcrumbs=breadcrumbs %}
    </nav>

    {% include 'cms/partials/auth_nav.html' %}

    <span>
      <h1>{{ page.title }}</h1>
      {% if request.user.is_staff %}
        <a href="{% url 'cms:move_page' pk=page.pk %}">Move page</a>
        <a href="{% url 'cms:delete_page' pk=page.pk %}">Delete page</a>
      {% endif %}
    </span>
  </header>

  <main>
    {% include 'cms/partials/sidebar.html' with page=page %}

    <article class='content'>
      <aside class='table-of-contents'>
        {% include 'cms/partials/table_of_contents.html' with blocks=page.blocks.published %}
      </aside>

      {% if request.user.is_staff %}
        <a href="{% url 'cms:add_block' %}?page={{ page.uuid }}">
          Add block here
        </a>
      {% endif %}

      {% for cms_block in page.blocks.published|dictsort:'position' %}
        <section>
          <a name="{{ cms_block.pk }}"></a>
          {% if request.user.is_staff %}
            <a href="{% url 'cms:move_block' pk=cms_block.pk %}">Move block</a>
            <a href="{% url 'cms:edit_block' pk=cms_block.pk %}">Edit block</a>
            <a href="{% url 'cms:delete_block' pk=cms_block.pk %}">Delete block</a>
          {% endif %}

          {% include cms_block.template_name with cms_block=cms_block %}
        </section>

        {% if request.user.is_staff %}
          <a href="{% url 'cms:add_block' %}?page={{ page.uuid }}&after={{ cms_block.id }}">
            Add block here
          </a>
        {% endif %}
      {% endfor %}
    </article>
  </main>
{% endblock %}
